@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    background-color: #D0D2F2;
}

li, a{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display: flex
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #d0d2f2;
}

.links{
    list-style: none;
    background-color:#D0D2F2;
}

.links li{
    display: inline-block;
    padding: 0px 20px;
    background-color:#D0D2F2;
}

.links li a{
    transition: all 0.3s ease 0s;
    background-color:#D0D2F2;
}

.links li a:hover{
    color: #A6A297;
    background-color:#D0D2F2;
}

.problema{  
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center; 
    background: #F2E205; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #F2EDA2;
}